body {
  font-family: 'Josefin Sans', sans-serif;
}

html {
  background: url("../resources/recordPlayer.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 60px;
  font-family: 'Barrio', cursive;
}

h2 {
  color: #CC6622;
  text-align: center;
  font-size: 24px;
}

#tribeList {
  text-align: center;
  width: 400px;
  font-family: 'Barrio', cursive;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

div {
  font-size: 16px;
}

div.container {
  width: 100%;
}

#songData {
  display: flex;
}

#searchBar {
  color: #000000;
  height: auto;
  width: 100%;
  font-weight: bold;
  margin-left: 65px;
}

th, td {
  padding: 4px;
}

#inputField {
  color: #AAAAAA;
  background-color: #FFFFFF;
  border-style: groove;
  border-radius: 6px;
}

#songSearch {
  padding-right: 7px;
  padding-left: 7px;
  border-color: black;
  width: 200px;
  height: 27px;
  font-size: 13px;
  margin-bottom: 10px;
}

#searchForm {
  height: auto;
}

.addSongButton {
  font-size: 12px;
}

#searchButton {
  font-size: 16px;
}

.addSongButton,
#searchButton {
  border: none;
  background-color: black;
  border-radius: 15px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

.addSongButton {
  position: absolute;
  margin-left: 20px;
  margin-top: 27px;
}

#songSearch:focus,
#searchButton:focus,
.addSongButton:focus {
  outline: none;
}

#searchButton:active,
.addSongButton:active {
  background-color: #1ED760;
}

/*.header {
  position: fixed;
}*/

#searchResults {
  height: auto;
  width: 31%;
  border-right: solid 2px;
  border-color: black;
  margin-left: 65px;
  text-align: left;
  overflow: hidden;
  float: left;
}

.searchResult{
  margin-bottom: 10px;
}

#playlist {
  height: auto;
  width: 600px;

  font-weight: bold;
  padding: 3px;
  margin-top: 115px;
  margin-left: 600px;
  top: 30px;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

#loginButton {
  padding-right: 7px;
  padding-left: 7px;
  border-color: black;
  width: 200px;
  height: 27px;
  font-size: 13px;
  margin-bottom: 10px;
}


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


