<div class="container">

  <H1 class="header">TRIBAL ALL STARS</H1>
  
  <div id="searchBar">
    <login />
  </div>

  <div id="searchBar">
    <search search-results-handler="ctrl.searchResultsHandler" />
  </div>

  <div id="songData">

    <div class="appColumns" id="searchResults">
      <search-results search-results="ctrl.searchResults" />
      <!-- CSS style #searchResults to scroll only  -->
    </div>

    <div class="appColumns" id="playlist">
      <!-- CSS style #playlist to scroll only  -->
      
      <playlist />

      
    </div>

  </div>

</div>
