SEARCH RESULTS
<P>
{{ctrl.testData[0].uri}} <BR>
{{ctrl.testData[0].artist}}<BR>
<iframe src="https://open.spotify.com/embed?uri=spotify:track:49edox3q89CG1g6rJVfmHE" width="auto" height="auto" frameborder="0" allowtransparency="true"></iframe>

<!--

<iframe ng-src="https://open.spotify.com/embed?uri={{ctrl.testData[0].artist}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>



                                                spotify:track:49edox3q89CG1g6rJVfmHE
<iframe src="https://open.spotify.com/embed?uri=spotify:track:49edox3q89CG1g6rJVfmHE" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

-->